@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import "reset.css";
@import "variables.css";

/* componnents */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-hdr.css";
@import "components/searchbar.css";

/* screens */
@import "screens/login.css";
@import "screens/home.css";
@import "screens/chat.css";
@import "screens/find.css";
@import "screens/call.css";
@import "screens/chatroom.css";

body {
    display: block;
    font-family: 'Bree Serif', serif;
    background-color: #FFFFFF;
    overflow-x: hidden;
}

